.productDetail-wrapper {
    background-color: #FAFAFA;
}

.productDetail-container {
    width: 79.4%;
    margin: 40px auto;
}

.product-image-holder {
    width: 506px;
    height: 546px;
}

.image-div {
    height: 450px;
    object-fit: cover;
}

.product-image {
    width: 100%;
    height: 100%;
}

.thumbs {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.thumb-div {
    width: 100px;
    height: 75px;
    object-fit: cover;
    margin-right: 20px;
}

.thumb-div img {
    width: 100%;
    height: 100%;
}

.details {
    padding: 20px;
}

details h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #252B42;
}

.star-list {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.star-list h6 {
    font-size: 14px;
    font-weight: 700;
    color: #737373;
}

.price {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    color: #000!important;
}

.avail {
    font-size: 14px;
    font-weight: 700;
    color:#737373;
    padding-top: 20px;
    margin-bottom: 100px;
}

.avail span {
    color: #23A6F0;
}

.circle-area {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 70px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 15px;
}

.cart-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cart-area button {
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;   
    background-color: #23A6F0;
}

.cart-div {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
