.topnav-wrapper {
    background-color:#23856D;
    color: #fff;
    padding: 10px 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top-nav-info {
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top-nav-info > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 50px;
}

.top-nav-info > div > div {
    margin-left: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
}